* {
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #03A9F4;
    padding: 64px 0px;
    width: 100vw;
    box-shadow: 0 4px 2px -1px #BDBDBD;
}

.header-headline {
    font-size: 3rem;
    text-align: center;
}