* {
    color: #212121;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #03A9F4;
    border-top: 1.5rem solid #0288D1;
    box-shadow: 0 4px 2px -1px #BDBDBD;
    padding: 64px 0px;
    width: 100vw;
}

.header-headline {
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
}

.form-container {
    background-color: #FF9800;
    box-shadow: 0 0 10px 1px #757575;
    display: inline-block;
    margin-top: 24px;
    padding: 16px;
}

input[name="firstname"], input[name="lastname"] {
    width: 100px;
}

input[name="day"], input[name="year"] {
    width: 50px;
}

.date-container {
    margin: 8px 0px;
}

.form-headline {
    color: #FFFFFF;
    margin-bottom: 4px;
}

input[type="submit"] {
    background-color: #03A9F4;
    border: 1px solid #03A9F4;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 8px;
}

input[type="submit"]:active {
    -webkit-box-shadow: inset 0px 0px 16px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 16px #c1c1c1;
    box-shadow: inset 0px 0px 16px #c1c1c1;
    outline: none;
}